<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../page.css">

<script>
    var jsonitems = '<%- JSON.stringify(items) %>'
    var items = $.parseJSON(jsonitems)
</script>


<html>
    <% items.page.forEach(function(item){ %>
        <head>
            <div style="text-align: center;">
                <h1 class="name_title" id="comp"></h1>
                <a class="text-decoration-none" href="/aboutnode"><h1 class="node_text" id="node"></h1></a>
            </div>
        </head>
        
        <script>
            var name = '<%=item.name %>'
            var n = name.split(" ");

            var end = n[n.length - 1];
            var complete = name.replace(end, "");

            document.getElementById("comp").innerHTML = complete;
            document.getElementById("node").innerHTML = end;
        </script>
    <% }) %>
        <body class="p-3 mb-2 bg-dark text-white">
            <h2 style="text-align: center; padding-top: 30px;">How JSON is used</h2>
        <div class="div_text">
        <div class="container">
        <div class="row d-flex justify-content-center">
            <% items.cards.forEach(function(item){ %>
                <a class="" value="">
                    <div class="col d-flex justify-content-center">
                        <div class="card bg-dark text-white" style="width: 250px; height: 250px; background-color: white;">
                            
                            <div class="card-img-overlay">
                                <h4><%= item.header %></h4>
                                <p class="card-text"><%= item.desc %></p>
                            </div>
                        </div>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
    </div>
    <hr/>
    <h2 style="text-align: center; padding-top: 30px;">Referencing data</h2>
    <div class="row mb-2 justify-content-center" style="padding-top: 30px;">
        <div class="col-md-6">
            <% items.dataref.forEach(function(item){ %>
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body bg-dark d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-white"><%= item.smalltitle %></strong>
              <h3 class="mb-0">
                <text class="text-white" href="#"><%= item.biggertitle %></text>
              </h3>
              <div class="mb-1 text-muted"><%= item.subtext %></div>
              <p class="card-text mb-auto"><%= item.desc %></p>
              <a href="<%= item.referenceurl %>">Reference</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="<%= item.img %>"data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" style="width: 200px; height: 250px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_171c73ee40c%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_171c73ee40c%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2256.1953125%22%20y%3D%22131%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 200px; width: 250px;">
          </div>
          <% }) %>
        </div>
      </div>
      <hr/>
      <h2 style="text-align: center; padding-top: 30px;">Calling objects</h2>
      <% items.objectcall.forEach(function(item){ %>
        <div class="media">
            <div class="media-body" style="padding-left:20%;">
            <h5 class="mt-0 mb-1"><%= item.title %></h5>
            <p style="padding-bottom:10px;"><%= item.body %></p>
            <p style="padding-bottom:10px;"><%= item.body2 %></p>
            <div style="background-color: rgba(64, 64, 64, 1);text-align: center; padding-top: 10px; padding-bottom: 10px; height: auto; width: auto;">
                <%= item.subarray[0].title %>
                <text style="color:#43853d;"><%= item.subarray[0].other %></text>
            </div>
            </div>
            <img src="<%= item.img %>" class="ml-3" alt="..." style="padding-right: 10%;">
        <% }) %>
        </div>
        
            </div>
            <hr/>
            <h2 style="font-family: 'Courier New'; text-align: center; padding-top: 30px; font-size:11px; font-weight:200px;">Liam Debell 2020</h2>
        </body>
</html>